<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="evosuite.plugin.RunSingleProjectHandler"
            id="evosuite.runSingleProject"
            name="Run Single Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="evosuite.plugin.EvosuitePreference"
            id="evosuite.preference"
            name="Evosuite">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Evosuite">
            <command
                  commandId="evosuite.runSingleProject"
                  label="Run Single Project"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   

</plugin>
