.metadata
target
tzuyuCore
tzuyuLib
.settings
bin
RemoteSystemsTempFiles
.classpath
.project
runtime-EclipseApplication
/app/tzuyuEclipsePlugin/icsetlvCore
/app/tzuyuEclipsePlugin/icsetlvLib
