/app/.metadata -luna
.metadata
target
tzuyuCore
tzuyuLib
.settings
bin
RemoteSystemsTempFiles
runtime-EclipseApplication
/app/tzuyuEclipsePlugin/icsetlvCore
/app/tzuyuEclipsePlugin/icsetlvLib
/app/faultLocalization/target
/app/tzuyuEclipsePlugin/savCommons
/app/sav.commons/src/test/resources/test_configuration.properties
logs
/app/tzuyu.parent/*.classpath
/app/mutation/out
mutanbug
