<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="learntest.plugin.selection.tester.GentestTextSelectionTester"
             id="learntest.plugin.tester.gentest.selection.text"
             namespace="learntest.plugin.tester"
             properties="isTestableSelectedText"
             type="java.lang.Object">
       </propertyTester>
    </extension>
   <extension
         point="org.eclipse.ui.commands" id="learntestCommands">
      <command
            defaultHandler="learntest.plugin.handler.GenerateTestHandler"
            id="learntest.command.generatetest"
            name="Generate Test">
      </command>
      <command
            defaultHandler="learntest.plugin.handler.gentest.JavaGentestHandler"
            id="learntest.plugin.commands.javaGentest"
            name="Generate Testcases">
         <commandParameter
               id="learntest.approach"
               name="L2T"
               optional="false">
         </commandParameter>
      </command>
     
   </extension>
   <extension
         point="org.eclipse.ui.menus" id="learntestMenu">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Test Generation">
            <command
                  commandId="learntest.command.generatetest"
                  icon="icon/icon-test-management.png"
                  label="Generate Test"
                  style="push">
            </command>
         </menu>
         
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="learntest.plugin.popup.gentest"
               label="Generate Testcases">
           <command
                 commandId="learntest.plugin.commands.javaGentest"
                 label="as L2T">
            <parameter
                  name="learntest.approach"
                  value="L2T">
            </parameter>
             <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaElement">
                     </adapt>
                     <and>
                        <with
                              variable="selection">
                           <test
                                 forcePluginActivation="true"
                                 property="learntest.plugin.tester.isTestableSelectedText">
                           </test>
                        </with>
                     </and>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         
         <command
                 commandId="learntest.plugin.commands.javaGentest"
                 label="as RandomTest">
            <parameter
                  name="learntest.approach"
                  value="RANDOOP">
            </parameter>
             <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaElement">
                     </adapt>
                     <and>
                        <with
                              variable="selection">
                           <test
                                 forcePluginActivation="true"
                                 property="learntest.plugin.tester.isTestableSelectedText">
                           </test>
                        </with>
                     </and>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="learntestPreferences"
         point="org.eclipse.ui.preferencePages">
      <page
            class="learntest.plugin.preferences.LearnTestPreference"
            id="learntest.preference"
            name="Test Generation">
      </page>
   </extension>

</plugin>
