<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="learntest.handler.GenerateTestHandler"
            id="learntest.command.generatetest"
            name="Generate Test">
      </command>
      <command
            defaultHandler="learntest.handler.EvaluationHandler"
            id="learntest.command.evaluateAllMethods"
            name="Evaluate All Methods">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Test Generation">
            <command
                  commandId="learntest.command.generatetest"
                  icon="icon/icon-test-management.png"
                  label="Generate Test"
                  style="push">
            </command>
            <command
                  commandId="learntest.command.evaluateAllMethods"
                  label="Evaluate All Methods"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="learntest.preference.LearnTestPreference"
            id="learntest.preference"
            name="Test Generation">
      </page>
   </extension>

</plugin>
