<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>D:/_1_Projects/Tzuyu/maven-repository</localRepository>
	<profiles>
		<profile>
			<id>tzuyuProfile</id>
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>tzuyu repo on sutd nexus server</name>
					<url>http://202.94.70.100:8081/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>thirdparty</id>
					<name>tzuyu repo on sutd nexus server</name>
					<url>http://202.94.70.100:8081/nexus/content/repositories/thirdparty</url>
				</repository>
			</repositories>
		</profile>
		<!-- example for local nexus server, using for testing the deploy,.. etc -->
		<profile>
			<id>localRepositoryServer</id>
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>tzuyu repo on sutd nexus server</name>
					<url>http://localhost:8081/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>thirdparty</id>
					<name>tzuyu repo on local nexus server</name>
					<url>http://localhost:8081/nexus/content/repositories/thirdparty</url>
				</repository>
				<repository>
					<id>remote-repository</id>
					<name>tzuyu repo on local nexus server</name>
					<url>http://localhost:8081/nexus/content/repositories/thirdparty</url>
				</repository>
			</repositories>
			<properties>
				<repo-url-snapshots>http://localhost:8081/nexus/content/repositories/snapshots</repo-url-snapshots>
			</properties>
		</profile>
		<profile>
			<id>localConfig</id>
			<!-- to override properties defined in tzuyu.parent pom.xml -->
<!-- 			<properties> -->
<!-- 				<toolsjar>[../jdk1.6.../lib/tools.jar</toolsjar> -->
<!-- 				<toolsjar-version>1.6...</toolsjar-version> -->
<!-- 			</properties> -->
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>tzuyuProfile</activeProfile>
		<activeProfile>localConfig</activeProfile>
<!-- 		<activeProfile>localRepositoryServer</activeProfile> -->
	</activeProfiles>
</settings>
