<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="learntest.activelearning.plugin.handler.GenerateTestcasesHandler"
            id="active-learntest.plugin.commands.gentest"
            name="Generate Testcases">
         <commandParameter
               id="learntest.approach"
               name="L2T"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="learntest.activelearning.plugin.handler.TestcasesDistributionHandler"
            id="active-learntest.plugin.commands.testcaseDistribution"
            name="Run Random Testcase For Distribution">
      </command>
      <command
            defaultHandler="learntest.activelearning.plugin.handler.OneTestcaseDistributionHandler"
            id="active-learntest.plugin.commands.onetestcaseDistribution"
            name="Run One Random Testcase For Distribution">
      </command>
      <command
            defaultHandler="learntest.activelearning.plugin.handler.HillClimbingSearchTestHandler"
            id="active-learntest.plugin.commands.hillclimbing"
            name="Test with hill-climbing search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="ActiveLearnTest">
            <command
                  commandId="active-learntest.plugin.commands.gentest"
                  label="Generate Test"
                  style="push">
            </command>
            <command
                  commandId="active-learntest.plugin.commands.hillclimbing"
                  label="Test with hill-climbing search"
                  style="push">
            </command>
            <command
                  commandId="active-learntest.plugin.commands.testcaseDistribution"
                  label="Run Random Testcase For Distribution"
                  style="push">
            </command>
            <command
                  commandId="active-learntest.plugin.commands.onetestcaseDistribution"
                  label="Run One Random Testcase For Distribution"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
 <extension
         id="learntestPreferences"
         point="org.eclipse.ui.preferencePages">
      <page
            class="learntest.activelearning.plugin.preferences.ActiveLearnTestPreference"
            id="learntest.preference"
            name="Active Learntest">
      </page>
   </extension>
</plugin>
