<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="tzuyu.plugin.propertytester.SelectionFilter"
             id="tzuyu.plugin.tester"
             namespace="tzuyu.plugin.tester"
             properties="isSuitableForTest"
             type="java.lang.Object">
       </propertyTester>
    </extension>
    <extension
          id="tzuyu"
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
          <menu
                id="tzuyu.plugin.menu"
                label="Tzuyu">
             <visibleWhen checkEnabled="false">
	                <with variable="selection">
	                   <test property="tzuyu.plugin.tester.isSuitableForTest"/>
	                </with>
	         </visibleWhen>
             <command
                   commandId="tzuyu.plugin.command.generateTestcases"
                   id="tzuyu.plugin.menu.generateTestcases"
                   label="%menu.generateTestCase"
                   style="push">
             </command>
             <command
                   commandId="tzuyu.plugin.command.genTestWizard"
                   label="%menu.openDialog"
                   style="push">
             </command>
          </menu>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="tzuyu.plugin.command.gentest.GenTestHandler"
             id="tzuyu.plugin.command.generateTestcases"
             name="Generate test cases">
       </command>
       <command
             defaultHandler="tzuyu.plugin.command.gentestwizard.GenTestWizardHandler"
             id="tzuyu.plugin.command.genTestWizard"
             name="GenTest Wizard">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="tzuyu.plugin.preferences.ProjectPropertyPage"
             id="tzuyu.plugin.propertypages"
             name="%propertypages.name">
          <enabledWhen>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </enabledWhen>
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="tzuyu.plugin.preferences.TzPreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="tzuyu.plugin.view.category.general"
             name="%view.category.name">
       </category>
       <view
             category="tzuyu.plugin.view.category.general"
             class="tzuyu.plugin.view.dfa.DfaView"
             id="tzuyu.plugin.view.dfa"
             name="%view.dfa.name"
             restorable="true">
       </view>
    </extension>
</plugin>
