<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="tzuyu.plugin.propertytester.SelectionFilter"
             id="tzuyu.plugin.tester"
             namespace="tzuyu.plugin.tester"
             properties="isSuitableForTest"
             type="java.lang.Object">
       </propertyTester>
       <propertyTester
             class="tzuyu.plugin.propertytester.SelectionFilter"
             id="tzuyu.plugin.tester.dfaFile"
             namespace="tzuyu.plugin.tester"
             properties="dfaFile"
             type="org.eclipse.jface.viewers.IStructuredSelection">
       </propertyTester>
    </extension>
    <extension
          id="tzuyu"
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="true"
             locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
          <menu
                id="tzuyu.plugin.menu"
                label="Tzuyu">
             <visibleWhen
                   checkEnabled="true">
	                <with variable="selection">
	                   <test
                          forcePluginActivation="true"
                          property="tzuyu.plugin.tester.isSuitableForTest"/>
	                </with>
	         </visibleWhen>
             <command
                   commandId="tzuyu.plugin.command.generateTestcases"
                   id="tzuyu.plugin.menu.generateTestcases"
                   label="%menu.generateTestCase"
                   style="push">
             </command>
             <command
                   commandId="tzuyu.plugin.command.genTestWizard"
                   label="%menu.openDialog"
                   style="push">
             </command>
          </menu>
          <menu
                label="Tzuyu">
             <command
                   commandId="tzuyu.plugin.command.readDfa"
                   style="push">
             </command>
             <visibleWhen
                   checkEnabled="true">
                <and>
                   <with
                         variable="selection">
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <and>
                            <test
                                  property="tzuyu.plugin.tester.dfaFile">
                            </test>
                         </and>
                      </iterate>
                   </with>
                </and>
             </visibleWhen>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="true"
             locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
             <menu id="tzuyu.plugin.menu"
                label="Tzuyu"/>
       </menuContribution>
       <menuContribution
             allPopups="true"
             locationURI="popup:org.eclipse.jdt.ui.ProjectsView?before=additions">
             <menu id="tzuyu.plugin.menu"
                label="Tzuyu"/>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="tzuyu.plugin.command.gentest.GenTestHandler"
             id="tzuyu.plugin.command.generateTestcases"
             name="Generate test cases">
       </command>
       <command
             defaultHandler="tzuyu.plugin.command.gentestwizard.GenTestWizardHandler"
             id="tzuyu.plugin.command.genTestWizard"
             name="GenTest Wizard">
       </command>
       <command
             defaultHandler="tzuyu.plugin.command.readDfa.ReadDfaHandler"
             id="tzuyu.plugin.command.readDfa"
             name="%menu.readDfa">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="tzuyu.plugin.preferences.ProjectPropertyPage"
             id="tzuyu.plugin.propertypages"
             name="%propertypages.name">
          <enabledWhen>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </enabledWhen>
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="tzuyu.plugin.preferences.TzPreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="tzuyu.plugin.view.category.general"
             name="%view.category.name">
       </category>
       <view
             category="tzuyu.plugin.view.category.general"
             class="tzuyu.plugin.view.dfa.DfaView"
             id="tzuyu.plugin.view.dfa"
             name="%view.dfa.name"
             restorable="true">
       </view>
       <view
             category="tzuyu.plugin.view.category.general"
             class="tzuyu.plugin.view.example.WordView"
             id="tzuyu.plugin.view.ex"
             name="Word view"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             class="tzuyu.plugin.console.TzConsoleFactory"
             label="%console.name">
       </consoleFactory>
    </extension>
    <extension
          point="org.eclipse.ui.console.consolePageParticipants">
       <consolePageParticipant
             class="tzuyu.plugin.console.TzConsoleParticipant"
             id="tzuyu.plugin.console.TzConsoleFactory.consolePageParticipant">
          <enablement>
             <instanceof
                   value="tzuyu.plugin.console.TzConsole">
             </instanceof></enablement>
       </consolePageParticipant>
    </extension>
    <extension
          point="org.eclipse.ui.themes">
       <fontDefinition
             categoryId="tzuyu.plugin.theme"
             defaultsTo="org.eclipse.jface.textfont"
             id="tzuyu.plugin.consoleFont"
             label="%console.name">
       </fontDefinition>
       <themeElementCategory
             id="tzuyu.plugin.theme"
             label="%plugin.name">
       </themeElementCategory>
    </extension>
</plugin>
