<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="tzuyu.plugin.JavaElementAction"
            objectClass="org.eclipse.jdt.core.IOpenable">
         <menu
               id="tzuyu"
               label="Tzuyu"
               path="group.build">
         </menu>
         <action
               class="tzuyu.plugin.action.RunTestAction"
               id="tzuyu.plugin.test"
               label="%menu.runTest"
               menubarPath="tzuyu/additions">
         </action>
         <action
               class="tzuyu.plugin.action.GenerateTestcasesAction"
               id="tzuyuEclipsePlugin.action2"
               label="%menu.generateTestCase"
               menubarPath="tzuyu/additions">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="tzuyu.plugin.JavaClassAction"
            objectClass="org.eclipse.jdt.core.IMember">
            <menu
               id="tzuyu"
               label="Tzuyu"
               path="group.build">
         </menu>
         <action
               class="tzuyu.plugin.action.RunTestAction"
               id="tzuyu.plugin.test3"
               label="%menu.runTest"
               menubarPath="tzuyu/additions">
         </action>
         <action
               class="tzuyu.plugin.action.GenerateTestcasesAction"
               id="tzuyuEclipsePlugin.action3"
               label="%menu.generateTestCase"
               menubarPath="tzuyu/additions">
         </action>
      </objectContribution>
      
      <viewerContribution
            id="tzuyu.plugin.TextEditorActions"
            targetID="#CompilationUnitEditorContext">
         <menu
               id="tzuyu"
               label="Tzuyu"
               path="additions"/>
          <action
               class="tzuyu.plugin.action.RunTestEditorAction"
               id="tzuyu.plugin.test"
               label="%menu.runTest"
               menubarPath="tzuyu/additions">
         </action>
         <action
               class="tzuyu.plugin.action.GenerateTestcasesEditorAction"
               id="tzuyuEclipsePlugin.action"
               label="%menu.generateTestCase"
               menubarPath="tzuyu/additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
