<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="jdart.handler.RunJDartHandler"
            id="learntest.command.jdart"
            name="Run JDart">
      </command>
   </extension>
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Run JDart">
            <command
                  commandId="learntest.command.jdart"
                  label="Run JDart"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
